*~
m4
Adonthell-Tools.xcodeproj
Makefile
Makefile.in
aclocal.m4
autom4te.cache
build
compile
config.guess
config.h
config.h.in
config.log
config.rpath
config.status
config.sub
configure
depcomp
install-sh
libltdl
libtool
ltmain.sh
missing
mkinstalldirs
py-compile
stamp-h1
.project
.DS_Store
po/Makevars.template
*.glade.h
