[Desktop Entry]
Name=Adonthell Dlgedit
Comment=The Adonthell Dialogue Editor.
Exec=adonthell-dlgedit
Terminal=false
Type=Application
Categories=Development;RolePlaying;
StartupNotify=false
MimeType=application/x-adonthell-dlg;
